* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.title h4 {
    color: #ff5538;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.title h2 {
    color: #29313d;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 60px;
    width: 449px;
}

/* =========================
Nav part start
============================ */
nav {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 10px;
    left: 0;
}

nav .logo {
    width: 20%;
}

nav .nav-item {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .button {
    width: 20%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .button a {
    background: #ff5538;
    padding: 14px 28px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border-radius: 18px;
    border: 1px solid transparent;
    transition: all linear 0.4s;
}

nav .button a:hover {
    background: transparent;
    border: 1px solid #ff5538;
    color: #ff5538;
}

nav .nav_main {
    display: flex;
}

nav .nav-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

nav .nav-item ul li i {
    margin-left: 5px;
}
/* =========================
Nav part End
============================ */

/* =========================
Banner part start
============================ */

.banner {
    background: url(../images/banner.jpg);
    padding: 270px 0;
    position: relative;
}
.banner h1 {
    font-weight: 700;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    color: #29313d;
    text-transform: capitalize;
    width: 771px;
    text-align: center;
    margin: 0 auto;
    line-height: 130%;
    margin-bottom: 16px;
}
.banner p {
    font-weight: 400;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: #29313d;
    width: 547px;
    text-align: center;
    margin: 0 auto;
    line-height: 200%;
    margin-bottom: 44px;
}

.banner .button {
    text-align: center;
}
.banner .button a {
    background: #ff5538;
    padding: 14px 28px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 18px;
    margin: 0 12px;
    border: 1px solid transparent;
    transition: all linear 0.4s;
}

.banner .button a:hover {
    background: transparent;
    border: 1px solid #ff5538;
    color: #ff5538;
}

.banner .circle_shape {
    position: absolute;
    left: 588px;
    width: 112px;
    height: 112px;
    border: 1px solid #ff5538;
    border-radius: 50%;
    top: 145px;
    animation: rotate 6s infinite linear;
}

.banner .inner_bubble {
    position: absolute;
    left: 7px;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: #ff5538;
    border-radius: 50%;
}
.banner .inner_bubble2 {
    position: absolute;
    left: 148px;
    top: 305px;
    width: 25px;
    height: 25px;
    background: rgb(93, 47, 200);
    border-radius: 50%;
    -webkit-box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.75);
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.banner .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #c087ee;
    border-radius: 50%;
    right: 557px;
    top: 179px;
    animation: tb 4s infinite linear alternate;
}

@keyframes tb {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(50px);
    }
}
.banner .cross {
    position: absolute;
    font-size: 20px;
    top: 207px;
    right: 360px;
    color: #c087ee;
    animation: rotate 6s infinite linear;
}
.banner .cross2 {
    position: absolute;
    font-size: 20px;
    top: 207px;
    left: 360px;
    color: #c087ee;
    animation: rotate 6s infinite linear;
}

/* =========================
        Banner part end
============================ */

/* ============================
     Services Part Start
================================ */

.service .service_item {
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.service .service_item .item {
    width: 32%;
    height: 300px;
    background: #fff;
    padding: 30px 40px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 7px 42px 21px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 7px 42px 21px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 7px 42px 21px rgba(0, 0, 0, 0.07);
}

.service .service_item .item h3 {
    font-size: 21px;
    font-weight: 600;
    color: #29313d;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 160%;
    font-family: "Poppins", sans-serif;
}

.service .service_item .item p {
    font-size: 16px;
    font-weight: 400;
    color: #29313d;
    line-height: 200%;
    font-family: "Nunito", sans-serif;
}

/* ============================
        Services Part End
================================ */

/* ==============================
Digital life Start
================================ */

.digital_inner {
    display: flex;
}

.digital_inner .digitl_img {
    width: 50%;
    height: 300px;
}
.digital_inner .digitl_img img {
    width: 108%;
    position: relative;
    left: 0px;
    top: 74px;
    height: 409px;
}
.digital_inner .digitl_text {
    width: 50%;
    height: 300px;
    background: url(../images/digitalLife-text-bg.png) no-repeat;
    background-size: cover;
    padding: 120px 185px;
}

.digital_inner .digitl_text h3 {
    color: #29313d;
    font-weight: 600;
    font-size: 35px;
    line-height: 140%;
    width: 570px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.digital_inner .digitl_text p {
    color: #29313d;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    width: 501px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 40px;
}

.digital_inner .digitl_text a {
    background: #ff5538;
    padding: 14px 28px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 18px;
    margin: 0 12px;
    border: 1px solid transparent;
    transition: all linear 0.4s;
}

.digital_inner .digitl_text a:hover {
    background: transparent;
    border: 1px solid #ff5538;
    color: #ff5538;
}

.digitalLife {
    position: relative;
}

.digitalLife .digital_circle_shape {
    position: absolute;
    left: 550px;
    width: 112px;
    height: 112px;
    border: 1px solid #ff5538;
    border-radius: 50%;
    top: 182px;
    animation: rotate2 10s infinite linear;
    z-index: -1;
}

.digitalLife .digital_inner_bubble {
    position: absolute;
    left: 7px;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: #ff5538;
    border-radius: 50%;
    animation: rotate2 10s infinite linear;
}

@keyframes rotate2 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ==============================
Digital life End
================================ */

/* ==============================
work life start
================================ */

.work-part {
    padding: 120px 0;
    position: relative;
}

.work-shape {
    position: absolute;
    left: -1px;
    top: -214px;
    transform: rotate(359deg);
    z-index: -1;
}

.work-part .work-main {
    display: flex;
}

.work-part .work-main .text {
    width: 80%;
}
.work-part .work-main .title h2 {
    width: 693px;
}

.work-part .button a {
    background: #ff5538;
    padding: 14px 28px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 18px;
    margin: 0 12px;
    border: 1px solid transparent;
    transition: all linear 0.4s;
}

.work-part .button a:hover {
    background: transparent;
    border: 1px solid #ff5538;
    color: #ff5538;
}

.work-part .work-main .btn {
    width: 20%;
}

.work-item {
    display: flex;
    column-gap: 25px;
    margin-bottom: 30px;
}
.work-part .work-item .small-item {
    width: 40%;
    position: relative;
}

.work-part .work-item img {
    width: 100%;
    height: 335px;
}
.work-part .work-item .text-box {
    width: 100%;
    background: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 7px 42px 21px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 7px 42px 21px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 7px 42px 21px rgba(0, 0, 0, 0.07);
}

.work-part .work-item .text-box h3 {
    color: #29313d;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
}

.work-part .work-item .text-box a {
    color: #ff5538;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    font-family: "Nunito", sans-serif;
}

.work-part .work-item .large-item {
    width: 60%;
    position: relative;
}

/* bubble -----1 */

.digitalLife .dot-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #c087ee;
    border-radius: 50%;
    right: 557px;
    top: 179px;
    animation: around 10s infinite linear alternate;
}

@keyframes around {
    0% {
        transform: translateX(0) translateY(0px);
    }
    20% {
        transform: translateX(300px) translateY(400px);
    }
    40% {
        transform: translateX(500px) translateY(150px);
    }
    66% {
        transform: translateX(80px) translateY(500px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}


/* ==============================
work life End
================================ */

/* ==============================
Project life start
================================ */



.project-part {
    padding: 120px 0;
    background: #FDF9F8;
}
.project-part .project-inner{
display: flex;
box-sizing: border-box;
}



.project-part .counter {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 27px;
}
.project-part .item {
    width: 47%;
    height: 200px;
    background: #fff;
    color: #29313d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-part .text {
    text-align: center;
}

.project-part .counter .item h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
}
.project-part .counter .item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    font-family: "Nunito", sans-serif;
}


.project-part .project-text {
    width: 60%;
    background: #ff5538;
    height: 400px;
}

/* ==============================
Project life End
================================ */
